.header1{
    background-color:#43A391;
}

.header2{
    background-color:#64D3A5;
}

.headerlogo{
    width:100px;
}
.logotext{
    font-size: 1.1em;
}
/* .logowithText span{
    wi
} */
.footerlogo{
    width:100px;
    float:left !important;
}