.menubox {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 29px;
}
.pEdit {
  color: var(--orange) !important;
}
.history {
  color: var(--green) !important;
}
/* pagination */
.pager .active {
  background-color: #188067;
  color: white !important;
  font-weight: 700;
  transition: all 0.3s;
}
.pager .btnNum {
  transition: all 0.3s;
  color: black;
}
.pager .btnNum:hover {
  background-color: rgb(240, 240, 240);
  color: black;
  font-weight: 700;
}