@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    
}

*{
    margin: 0 !important;
    padding: 0 !important;
}


.nav .nav-item{
margin: 50px !important;
}
.p1{
    font-family: 'Roboto', sans-serif !important;

}
.body-content{
position: relative !important;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.department{
margin: auto !important;
}