body{
    background-color: #9ECEF9 !important;
}
.mhdiv{
    width: 100%;
    overflow: hidden;
}
.pluse-parent{
    display: flex;
}

.plusebtn{
    width: 150px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #063551;
    justify-content: center;
    align-items: center;
 }
.mentalHealth-card{
    /* max-width: 50vh !important;   
    height: 20vh !important;
    background-color: #99e3d2 !important; */
    /* border: 1px solid rgb(145, 13, 222) !important; */
    border-radius: 20px !important;
    text-align: center;
    margin: 10px;
}
.card-title{
    background-color: aqua;
    padding: 0.5rem;
    width: auto;
}
