.table {
    margin-top: 50px;
}
.title {
    background: #188067;
    color: white;

}
table tr{
    font-size: 1.2vw;
}

.hospitalScheduleEditIcon {
    color: var(--green);
    font-size: 1.5vw;
}

.hospitalScheduleDeleteIcon {
    color: var(--btncolorred);
    font-size: 1.5vw;
}
.docPhoto{
    width: 40%;
}