
.main-header1{
    background-color:#19332E;
    color: white;
}

.main-header2{
    background-color:#188067;
    color: white;
}

.main-sidebar{
    background-color:#161817;
}

.user-panel{
    background-color:white;
}