.contactListTitle {
    font-family: "Poly";
    font-size: 1.2em;
    color: white;
}

.adminContactListCardText{
    font-family: "Poly";
    font-size: 1em;
    color: white;
}

.adminContactListCardBg {
    background-color: #188067;
    height: 230px;
    float: left;
    width: 40%;
    margin: 10px 20px 20px 10px;
    border-radius: 10px;
}

.adminContactListbtn {
    color: white;
    background-color: #FFC652;
    font-family: "Poppins";
    font-size: 1vw;
    border: none;
    padding: 1vw;
    border-radius: 8px;
    width: 50%;
    margin-left: 50%;
}
.adminContactListCard{
    margin-bottom: 20px;
    
}
.mailList{
    background-color: #188067;
    height: 60px;
    border-radius: 10px;
    font-size: 2em;
    font-style: "Poly";
    color: white;
    text-align: center;
    margin-bottom: 20px;
    
}
.cardBody{
    padding: 20px;
    height: 230px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.cardRow{
    margin-bottom: 15px;
}
