.adminReplytitle{
    text-align: center;
    color: #188067;
    font-style: italic;
    font-size: 2em;
    background-color: white;
    padding: 10px;
}
.adminContactReplyinput{
    border: none !important;
    border-bottom: 1px solid gray !important;
    outline: none;
    margin-bottom: 15px ;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 8px;
    font-size: 1em;
    font-family: 'Poppins' !important;
}

.adminContactReply-col{
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    margin-bottom: 20px;
}

.adminContactReplybtn{
    color: white ;
    background-color: #188067 ;
    font-family: poppin !important;
    font-size: 2rem ;
    padding: 4px ;
    border-radius: 8px ;
    border: none;
    width: 5em ;
    margin-bottom: 20px;
}
.replyTitle{
    margin-top: 20px;
}
