
.table {
    margin-top: 50px;;
}
.title {               
    background: #188067;
    color: white;
}
table tr{
    font-size: 1.3vw;
}

/* table .tablebottom{
    border-bottom: 2px solid black;
} */

img{
    width:50px ;
}




