.title {
    background: #188067 !important;
    color: white;
    height: 8vh;
    font-family: var(--fontfamily-poppins);
    font-size: 2vw;
}
.pdBodybgcolor{
    background-color: #A6E1F3;
    font-family: var(--fontfamily-poppins);
    font-size: 20px;
    font-weight: 1vw;
}
.back{
    position: relative;
}

.btnBack{
    
    width: 88px;
    height: 36px;
    background: #188067 !important;
    border-radius: 8px;
    border: none;
    border-bottom: 1px solid #161817;
    color: white;
    justify-content: center;
    align-items: center;
}

.btnBack{
color: white !important;
}